{{template "header"}}
<h1>Create New Account</h1>
<form method="POST" action="/api/createuser" id="form-create-user">
    <input id="email" name="email" type="email" placeholder="Enter your email">
    <p class="form-field-err"></p>
    <input id="userName" name="userName" placeholder="Enter your account name" autocomplete="off">
    <p class="form-field-err" id="username-err"></p>
    <input id="password" name="password" type="password" placeholder="Create your password">
    <input id="password2" name="password2" type="password" placeholder="Retype your password">
    <p class="form-field-err" id="password-err"></p>
    <button id="btn-create-account">Create Account</button>
</form>
{{template "footer"}}
